.App {
  font-family: sans-serif;
  text-align: center;
}

.clickerParent {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.clickerDisplay {
  height: 200px;
}

.clickerButtonContainer {
  height: 100px;
}
